html
{
    font-size: 62.5%;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}
*
{
    margin: 0px;
    padding: 0px;
    border: none;
    /* flex-wrap: wrap; */

}

body
{
    background-color: rgb(0,1,1);
    overflow-x: hidden;
}

:root
{
    --color: red;
    --prcolor: white;
}

.main
{
    background-image: url(Images/background.jpg);
    height: 95vh;
    position: relative;
    background-position: center;
    width: 100vw;
    border-bottom: 10px rgb(34,35,34) solid;
    overflow: hidden;
    background-size: cover;
}

.main div.box
{
    height: 95vh;
    width: 100%;
    background: black;
    opacity: 0.74;
    position: absolute;
    top: 0px;
}

nav img
{
    color: red;
    max-width: 14.8rem;
    min-width: 7.4rem;
    z-index: 10;
    position: relative;
    opacity: 0.9;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin: auto;
    max-width: 70vw;
    min-width: 40vh;
}

.slogan
{
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
    object-fit:cover;
    color: white;
}



div.buttons
{
    display: flex;
    gap: 10px;
}
button.lang
{
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: 10;
    /* color: black; */
    padding: 0.5rem 1rem;

}
select 
{
    font-size: 12px;
    padding: 0rem 0.8rem;
    border-radius: 4px;
    background-color: transparent;
    color: #d4cdcd;
}
select option 
{
    background-color: black;
    opacity: 0.4;
    color: #d4cdcd;
}
button.sign-in
{
    position: relative;
    background-color: red;
    z-index: 10;
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    padding: 5px 10px;
    height: 32px;
    border: none;
    text-align: center;
}



.email
{
    height: 50px;
    border-radius: 5px;
    border: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.mail
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    flex-wrap: wrap;
}
button.started a
{
    font-size: 24px;
}
.email input
{
    background-color: inherit;
    border: 0.5px white solid;
    width: 300px;
    padding: 5px 15px;
    color: white;
    font-size: 17px;
}




section.first, section.second, section.third, section.fourth
{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: auto;
    max-width: 70vw;
    padding: 10%;
}




.secimg 
{
    width: 30vw;
    position: relative;
    z-index: 10;
}
section.first span
{
    text-align: left;
}





footer {
    color: rgb(179,178,178);
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

footer a 
{
    font-size: 1.4rem;
    color: rgb(179,178,178);
    font-weight: 600;
    text-decoration: underline;
}

.footer-item
{
    display: flex;
    flex-direction: column;
    gap: 23px;

}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(179,178,178);
    padding: 34px;
}
.footer a {
    font-size: 14px;
    color: rgb(179,178,178);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.email button
{
    height: 45px;
}




::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:rgba(130, 134, 130, 0.94);
  }
  ::-webkit-scrollbar-corner {
    background: #0c0c0c;
  }




    @media screen and (max-width: 1022px) 
    {

        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            text-align: left;
        }
    }



@media screen and (max-width:1240px) 
{
    html
    {
        font-size: 50%;
    }    
}

@media screen and (max-width:900px) 
{
    html
    {
        font-size: 40%;
    }    
}

@media screen and (max-width:600px) 
{
    *
    {
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    section.first, section.second, section.third
    {
        flex-direction: column;
    }
    html
    {
        font-size: 40%;
    }
    nav, div.buttons
    {
        flex-direction: row;
    }
    .secimg img
    {
        width: 90vw;
    }
    input
    {
        text-align: left;
    }
}

@media screen and (max-width:376px)
{
    .repeat
    {
        height: 30vh;
    }
}


@media screen and (max-width:426px) 
{
    html
    {
        font-size: 30%;
    }
    .email
    {
        height: 30px;
        border-radius: 5px;
        border: none;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .mail
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        flex-wrap: wrap;
    }
    button.started a
    {
        font-size: 14px;
    }
    .email input
    {
        background-color: inherit;
        border: 0.5px white solid;
        width: 200px;
        padding: 3px 10px;
        color: white;
        font-size: 14px;
        position: relative;
    }
    .email button
    {
        height: 32px;
        position: relative;
    }
    .secimg
    {
        width: 80vw;
    }
    input
    {
        text-align: left;
    }
    .slogan
    {
        height: 90%;
    }
    button.sign-in
    {
        font-size: 12px;
        font-weight: 400;
        width: fit-content;
        padding: 3px 6px;
        height: 22px;
    }
}

@media screen and (max-width:605px)
{
    .email input
    {
        width: 200px;
    }

    button.started a
    {
        font-size: 14px;
    }

    .email button
    {
        height: 32px;
        position: relative;
    }
}
